@import "colors.css";

* {
  font-family: "Symbols Nerd Font, RobotoMono Nerd Font, JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
  padding: 1px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background: none;
}

.modules-left,
.modules-center {
  background: @base;
  padding: 2px 6px 2px 6px;
  border-radius: 8px;
}

#system {
  background: @base;
  padding: 2px 6px 2px 6px;
  border-radius: 8px;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-notification,
#idle_inhibitor,
#memory,
#network,
#pulseaudio,
#tray {
  padding: 2px 6px 2px 6px;
}

#backlight {
  color: @sky;
}

#battery {
  color: @green;
}

#clock {
  color: @teal;
}

#cpu {
  color: @mauve;
}

#custom-notification {
  background: @base;
  color: @text;
  border-radius: 8px;
  padding: 2px 6px 2px 6px;
}

#idle_inhibitor {
  color: @yellow;
}

#network {
  color: @pink;
}

#memory {
  color: @sapphire;
}

#pulseaudio {
  color: @lavender;
}

#pulseaudio.bluetooth {
  color: @blue;
}

#pulseaudio.muted {
  color: @red;
}

#tray {
  background: @base;
  border-radius: 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#workspaces button {
  padding: 0px;
  border-radius: 8px;
  padding-left: 2px;
  padding-right: 2px;
}

#workspaces button:hover {
  color: @blue;
  background: @surface0;
  padding-left: 2px;
  padding-right: 2px;
}

#workspaces button.persistent {
  color: @overlay2;
}

#workspaces button.active {
  color: @peach;
  background: @surface0;
  padding-left: 2px;
  padding-right: 2px;
}

#workspaces button.urgent {
  color: @red;
}

tooltip {
  background-color: @surface0;
}

tooltipe label {
  color: @text;
}

@keyframes blink {
  to {
    color: @surface0;
  }
}
