@define-color base #161616;
@define-color surface0 #262626;
@define-color surface1 #393939;
@define-color text #f4f4f4;
@define-color blue #4589ff;
@define-color lavender #be95ff;

* {
  font-family: Iosevka Nerd Font Mono;
}

#window {
  background: rgba(22, 22, 22, 0.9);
  border-radius: 8px;
  animation-name: fadeIn;
  animation-duration: 300ms;
}

#entry {
  border-radius: 8px;
  padding: 2px 4px 2px 4px;
  margin: 0px 4px 0px 4px;
}

#entry:selected {
  color: @text;
  background: @blue;
}

#inner-box {
  color: @text;
  border-radius: 8px;
}

#outer-box {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  border: 1px solid @lavender;
}

#text {
  color: @text;
  background: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
