* {
  all: unset;
  font-size: 16px;
  font-family: "Symbols Nerd Font, JetBrainsMono Nerd Font";
  transition: 200ms;
}

trough highlight {
  background: #f4f4f4;
}

scale trough {
  margin: 0rem 1rem;
  background-color: #262626;
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: #4589ff;
}

.floating-notifications.background .notification-row .notification-background {
  box-shadow:
    0 0 8px 0 rgba(0, 0, 0, 0.8),
    inset 0 0 0 2px #262626;
  border-radius: 8px;
  margin: 16px;
  background-color: #161616;
  color: #f4f4f4;
  padding: 0;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 8px;
  border-radius: 8px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  box-shadow: inset 0 0 8px 0 #fa4d56;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 8px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  color: #f4f4f4;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .time {
  color: #c6c6c6;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  color: #f4f4f4;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 8px;
  color: #f4f4f4;
  background-color: #262626;
  box-shadow: inset 0 0 0 2px #393939;
  margin: 8px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  box-shadow: inset 0 0 0 2px #393939;
  background-color: #262626;
  color: #f4f4f4;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  box-shadow: inset 0 0 0 2px #393939;
  background-color: #78a9ff;
  color: #f4f4f4;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 8px;
  padding: 2px;
  border-radius: 8px;
  color: #161616;
  background-color: #fa4d56;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  background-color: #ff8389;
  color: #161616;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #fa4d56;
  color: #161616;
}

.control-center {
  box-shadow:
    0 0 8px 0 rgba(0, 0, 0, 0.8),
    inset 0 0 0 1px #262626;
  border-radius: 8px;
  margin: 16px;
  background-color: #161616;
  color: #f4f4f4;
  padding: 12px;
}

.control-center .widget-title > label {
  color: #f4f4f4;
  font-size: 1rem;
}

.control-center .widget-title button {
  border-radius: 8px;
  color: #f4f4f4;
  background-color: #262626;
  box-shadow: inset 0 0 0 2px #393939;
  padding: 8px;
}

.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 2px #393939;
  background-color: #525252;
  color: #f4f4f4;
}

.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 2px #393939;
  background-color: #78a9ff;
  color: #161616;
}

.control-center .notification-row .notification-background {
  border-radius: 8px;
  color: #f4f4f4;
  background-color: #262626;
  box-shadow: inset 0 0 0 2px #393939;
  margin-top: 16px;
}

.control-center .notification-row .notification-background .notification {
  padding: 8px;
  border-radius: 8px;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  box-shadow: inset 0 0 8px 0 #fa4d56;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 8px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  color: #f4f4f4;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .time {
  color: #c6c6c6;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  color: #f4f4f4;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 8px;
  color: #f4f4f4;
  background-color: #000000;
  box-shadow: inset 0 0 0 2px #393939;
  margin: 8px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  box-shadow: inset 0 0 0 2px #393939;
  background-color: #262626;
  color: #f4f4f4;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  box-shadow: inset 0 0 0 2px #393939;
  background-color: #78a9ff;
  color: #f4f4f4;
}

.control-center .notification-row .notification-background .close-button {
  margin: 8px;
  padding: 2px;
  border-radius: 8px;
  color: #161616;
  background-color: #ff8389;
}

.close-button {
  border-radius: 8px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: #fa4d56;
  color: #161616;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #fa4d56;
  color: #161616;
}

.control-center .notification-row .notification-background:hover {
  box-shadow: inset 0 0 0 2px #393939;
  background-color: #8d8d8d;
  color: #f4f4f4;
}

.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 2px #393939;
  background-color: #78a9ff;
  color: #f4f4f4;
}

.notification.critical progress {
  background-color: #fa4d56;
}

.notification.low progress,
.notification.normal progress {
  background-color: #4589ff;
}

.control-center-dnd {
  margin-top: 4px;
  border-radius: 8px;
  background: #262626;
  border: 2px solid #393939;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: #262626;
}

.control-center-dnd slider {
  background: #393939;
  border-radius: 8px;
}

.widget-dnd {
  margin: 0px;
  font-size: 1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: #262626;
  border: 1px solid #393939;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: #262626;
}

.widget-dnd > switch slider {
  background: #393939;
  border-radius: 8px;
  border: 1px solid #6f6f6f;
}

.widget-buttons-grid {
  color: #be95ff;
  padding: 2px;
  margin: 4px;
  border-radius: 8px;
  background: #262626;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 2px;
  background: #393939;
  border-radius: 8px;
  color: #f4f4f4;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: rgba(57, 57, 57, 0.5);
  color: #f4f4f4;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.25rem;
}

.widget-mpris .widget-mpris-player {
  background: #262626;
  padding: 8px;
}

.widget-mpris .widget-mpris-title {
  font-size: 1rem;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.875rem;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: #fa4d56;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: #262626;
}

.control-center .widget-label > label {
  color: #f4f4f4;
  font-size: 2rem;
}

.widget-volume {
  padding-top: 1rem;
}

.widget-volume label {
  font-size: 1.5rem;
  color: #78a9ff;
}

.widget-volume trough highlight {
  background: #78a9ff;
}

.widget-backlight trough highlight {
  background: #fddc69;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: #fddc69;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}
